export( "aidsBestA0" )
export( "aidsCalc" )
export( "aidsConcav" )
export( "aidsConsist" )
export( "aidsElas" )
export( "aidsEst" )
export( "aidsMono" )
export( "aidsPx" )
export( "aidsUtility" )
export( "aidsUtilityDeriv" )

S3method( "checkConsist", "aidsEst" )
S3method( "coef", "aidsEst" )
S3method( "df.residual", "aidsEst" )
S3method( "elas", "aidsEst" )
S3method( "fitted", "aidsEst" )
S3method( "logLik", "aidsEst" )
S3method( "lrtest", "aidsEst" )
S3method( "nobs", "aidsEst" )
S3method( "predict", "aidsEst" )
S3method( "print", "aidsConcav" )
S3method( "print", "aidsConsist" )
S3method( "print", "aidsElas" )
S3method( "print", "aidsEst" )
S3method( "print", "aidsMono" )
S3method( "print", "coef.aidsEst" )
S3method( "print", "summary.aidsElas" )
S3method( "print", "summary.aidsEst" )
S3method( "summary", "aidsElas" )
S3method( "summary", "aidsEst" )
S3method( "vcov", "aidsEst" )

importFrom( "lmtest", "lrtest" )
importFrom( "micEcon", "checkConsist" )
importFrom( "micEcon", "elas" )
importFrom( "stats", "nobs" )

